.main-container-tr{
    width: 100%;
    height: 89.3vh;
    background: white;
    position: absolute;
   
}

.container-tr{
    background-color: #E1E5F2;
    margin: 2% auto;
    padding: 13px;
    max-width: 62%;
    height: 55vh;
    position: relative;

    box-shadow: 0 0 10px rgb(201, 201, 201);
    border-radius: 10px;


}


.tr1{
    background: #BFDBF7;
    border-radius: 5px;
    height: 17%;
    padding: 15px;

    display: flex;
    justify-content: space-between;

}

.t-card-heading{
    font-weight: 900;
}
.t-card-language{

}   
.card-counter{
    height: fit-content;
    width: fit-content;
    padding: 5px 7px;
    background-color: #F7F9F9;
    border-radius: 6px;
    
}

.tr2{
    margin-top: 15px;
    background-color: #fff;
    height: 58%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   position: relative;
}
.tr3{
    background: #BFDBF7;
    height: 17%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 2%;
}

.btn-tr3{
    color: #3f3d56;
    background-color: #1beca1;
    padding: 13px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: .8125rem;
}

.tr2-5{
    display: flex;
    justify-content: space-between;
    /* padding: 13px 30px;
    margin-top: 5px; */

    
    
    border-radius: 5px;
    margin-top: 2%;
}
.result{
    background: #BFDBF7;
    height: 27vh;
    width: 97%;
    top: 4%;
    left: 0.2%;
    border-radius: 5px;
    margin: 0 10px;
    display: flex;
    position: absolute;
    
    
    flex-direction: column;
    align-items: center;
}
.yours{
    margin-top: 20px;
    padding: 5px 10px;
    height: fit-content;
    width: 95%;
    background-color: #ADFFB6;
}
.yours1{
    margin-top: 20px;
    padding: 5px 10px;
    height: fit-content;
    width: 95%;
    background-color: #FF6666;
}
.original{
    margin-top: 20px;
    padding: 5px 10px;
    height: fit-content;
    width: 95%;
    background-color: #ADFFB6;
}





 