.whole-container-nc{
    width: 100%;
    height: 89.3vh;
    background: white;
    padding-top: 69px;
   
}
.container-cards-nc{
    background-color: #E1E5F2;
    max-width: 80%;
    height: 93%;
    margin: 0 10%;  
    padding: 12% 29%; 

    box-shadow: 0 0 10px rgb(201, 201, 201);
    border-radius: 10px;
    
}


.btn-nc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


button{

    margin: auto;
    color: #3f3d56;
    background-color: #1beca1;
    padding: 13px 30px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: .8125rem;
}

.h1-nc , .h3-nc{
    text-align: center;
}

.FaBoxOpen-nc{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    color: #1beca1;
}


.nc-icon{
    height: 100px;
    width: 130px;
}