.cards-component{
    width: 90%;
    border-radius: 7px;
    height: 85px;
    background: #BFDBF7;
    margin: 2% 5%;

    padding: 20px 20px;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.cards-component:hover{
    cursor:pointer;
    background: #9CC7E8;
}
.component-heading{
    font-weight: 200;
}
.active{
    background-color: #7BB4E0;
}
