.cards-component{
    width: 90%;
    border-radius: 7px;
    height: 85px;
    background: orchid;
    margin: 2% 5%;

    padding: 20px 20px;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.cards-component:hover{
    cursor:pointer;
    background: lightgreen;
}
.component-heading{
    font-weight: 200;
}
